body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background: hsla(277, 75%, 84%, 1);
    background: linear-gradient(90deg, hsla(277, 75%, 84%, 1) 0%, hsla(297, 50%, 51%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DEB8F5", endColorstr="#BA42C0", GradientType=1 );
}
li{
    list-style: none;
}
.elem{
    height: 150px;
    list-style: none;
    font-size: 50px;
    text-align: center;
}
.elem:nth-child(n){
    background-color: pink;
}

.elem:nth-child(2n){
    background-color: aqua;
}
.container{
    display: grid ;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    
}